<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>783509176440-a6oirqlod3rv5ban2494v57btoat8u7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783509176440-a6oirqlod3rv5ban2494v57btoat8u7d</string>
	<key>API_KEY</key>
	<string>AIzaSyDiSfpYIdHlV_SAsE2r_goXFbolc6P_G3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>783509176440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Paddler.Paddler</string>
	<key>PROJECT_ID</key>
	<string>paddler-app</string>
	<key>STORAGE_BUCKET</key>
	<string>paddler-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:783509176440:ios:4a7c2959e6753bab</string>
	<key>DATABASE_URL</key>
	<string>https://paddler-app.firebaseio.com</string>
</dict>
</plist>
